*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FFEDE1;
    overflow: hidden;
    padding: 20px;
}

.count_box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 2px 12px #AFCBFF;
    p{
        color: brown;
    }
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: #0E1C36;
}

.label_count{
    display: flex;
    flex-direction: column;
}
label{
    font-weight: bold;
    text-align: center;
}
#count{
    background: #F9FBF2;
    color: #0E1C36;
    font-size: 20px;
    font-weight: bolder;
    height: fit-content;
    padding: 10px;
    text-align: center;
    margin: 10px 0px;
    outline: none;
    cursor: none;
}

#text_box{
    padding: 20px;
    margin: 15px 0px;
    background: #F9FBF2;
    
}